@font-face {
    font-family: DroidSerif;
    src: url('../fonts/DroidSerif-Regular.ttf');
}
@font-face {
    font-family: DroidSerif Bold;
    src: url('../fonts/DroidSerif-Bold.ttf');
}


body {
	font-family: Arial;
	font-size: 13px; 
	color: #333;
}
header {
	background: #eeeaeb;
}
header .header-logo {
	width: 235px;
	margin: 25px 0 15px;
	display: inline-block;
	text-align: right;
}
header .header-logo span {
	color: #676767;
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	margin-right: -20px;
}
header .top-links {
	text-align: right;
	margin: 20px 0 32px;
}
header .top-links>li {
	display: inline-block;
}
header .top-links>li>a {
	color: #333;
	font-size: 12px;
	font-weight: 700;
}
header .top-links>li:first-child>a {
	border-right: 1px solid #333;
	padding-right: 7px;
    margin-right: 4px;
}
header .navbar {
	background-color: #e6c36e;
	margin: 0;
	border-radius: 0;
	min-height: auto;
}
header .gsc-control-cse {
    margin-bottom: 13px;
}
.navbar-default .navbar-nav>li>a {
	padding: 0 14px;
    color: #333;
    font-weight: 700;
    line-height: 35px;
    height: 34px;
}
.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li.active>a {
	background-color: #c8a551;
	color: #fff;
}
.section-heading {
	font-family: "DroidSerif Bold";
    font-size: 16px;
    line-height: 20px;
    background-color: #f4eede;
    border-left: 8px solid #e6c36e;
    margin: 0;
    padding: 5px 0 5px 10px;
}
.hero-wrap {
	border-bottom: 5px solid #dcd7d3;
}
.hero-wrap .hero-carousel .owl-dots {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.hero-wrap .hero-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    outline: none;
}
.hero-wrap .hero-carousel .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background: #86705e;
    border: 2px solid #e1be6d;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.hero-wrap .hero-carousel .owl-dots .owl-dot.active span {
	border-color: #fff;
}
.hero-wrap .welcome-note {
	background-color: #eeeaeb;
	padding: 20px;
}
.hero-wrap .welcome-note h1 {
	color: #b9a071;
	font-family: "DroidSerif Bold";
	font-size: 20px;
	margin: 0 0 18px;
}
.hero-wrap .welcome-note .img-thumbnail {
	border: 6px solid #d5d5d5;
    border-radius: 0;
    float: left;
    margin: 0 20px 10px 0;
}
.hero-wrap .welcome-note p {
	line-height: 23px;
	margin-bottom: 20px;
}
.hero-wrap .welcome-note a {
	color: #91794a;
    display: inline-block;
    margin-bottom: 2px;
}
.video-slider .item a {
	display: block;
	position: relative;
    border: 5px solid #cac4b4;
}
.video-slider .item a:hover {
	border-color: #9a844a;
}
.video-slider .item a:after {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/video/play.png) no-repeat center center/contain;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
}
.exhibition-list {
	list-style: none;
	padding: 0;
    margin: 10px -4px 30px;
}
.exhibition-list>li {
	display: inline-block;
    width: 23.3%;
    margin: 0 4px 20px;
}
.exhibition-list>li:nth-child(4) {
	margin-right: 2px;
}
.exhibition-list>li img {
    border: 4px solid #cac4b4;
    margin-bottom: 5px;
    height: 108px;
}
.twitter-timeline {
	height: 352px !important;
}
.fb_iframe_widget {
    width: 100%;
    margin-top: 15px;
}
.news-carousel {
	margin-top: 15px;
}
.news-carousel .news-info {
	display: table;
	width: 100%;
    margin-bottom: 15px;
}
.news-carousel .news-info .img-col,
.news-carousel .news-info .content-col {
	display: table-cell;
}
.news-carousel .news-info .img-col {
	width: 100px;
	vertical-align: middle;
	padding: 10px;
	border: 4px solid #cac4b4;
}
.news-carousel .news-info .content-col {
	padding-left: 10px;
}
.news-carousel .news-info a {
	color: #333;
	display: inline-block;
	line-height: 20px;
	font-weight: 600;
    margin-bottom: 2px;
}
.news-carousel .news-info .news-date {
	font-size: 11px;
}
.news-carousel ul>li {
	margin-bottom: 7px;
}
.news-carousel ul>li>a {
	vertical-align: middle;
    margin-left: 6px;
    display: inline-block;
}
.news-carousel .owl-nav button.owl-prev {
	margin-right: 5px;
}
.news-carousel .owl-nav button.owl-prev,
.news-carousel .owl-nav button.owl-next {
	border: 1px solid #e1c787;
    color: #b7974b;
    background-color: #f4eede;
    width: 16px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
}
.news-carousel .owl-nav button.owl-prev:hover,
.news-carousel .owl-nav button.owl-next:hover {
	background-color: #dfc885;
	color: #fff;
	border-color: #b89748;
}
.more-news-link {
	position: absolute;
    right: 15px;
    margin-top: -20px;
    z-index: 9;
}
.date-time-info {
	padding: 15px 0 0;
}
.date-time-info #time {
	margin-top: 5px;
	font-family: "DroidSerif";
	font-size: 52px;
    line-height: 54px;
}
#our-partners-slider {
	margin: 20px 0;
}
footer {
	background-color: #e6c36e;
}
footer .heading {
	font-size: 16px;
	color: #333333;
	font-family: 'DroidSerif Bold';
	border-bottom: 1px solid #9c793c;
	padding-bottom: 7px;
	margin: 20px 0 18px;
}
footer .link-list {
	margin-bottom: 20px;
}
footer .link-list>li {
	margin-bottom: 7px;
	/*position: relative;*/
}
/*footer .link-list>li:before {
	content: '>>';
	position: absolute;
	left: 0;
	top: 0;
}*/
footer .link-list>li>a {
	font-size: 13px;
	color: #333;
	vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
}
footer .footer-logo {
	display: inline-block;
	margin: 30px 0 45px;
}
footer .copyright,
footer .other-links>li>a {
	font-size: 12px;
	color: #333;
}
footer .other-links>li {
	padding: 0;
}
footer .other-links>li>a {
	border-right: 1px solid #333;
	padding-right: 5px;
}
footer .other-links>li:last-child>a {
	padding-right: 0;
	border-right: 0;
}
footer .disclaimer {
	background-color: #947f4b;
}
footer .disclaimer p {
	font-size: 11px;
	line-height: 16px;
	color: #f3e3bd;
	margin: 10px 0;
}

/* Google search css start */
.cse .gsc-control-cse, .gsc-control-cse {
	padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
}
.cse form.gsc-search-box {
	margin-bottom: 0 !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding: 0 !important
}
table.gsc-search-box td.gsc-search-button {
	display: none;
}
/* Google search css end */

/* facebook API css start */
.fb_iframe_widget_fluid span {
	width: 100% !important;
}
/* facebook API css end */

/* weather API css start */
#apixu-weather-widget-2 {
	margin-top: 15px;
}
.shm_4 .apixu-weather-todays-stats-big-pict,
.apixu-weather-todays-stats-location,
.apixu-weather-more-weather-link {
	display: none;
}
/* weather API css end */

/* common css start */
.video-popup {
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	width: 800px;
	height: 450px;
	background: #FFF;
	z-index: 1050;
	/*border: 1px solid #ccc;
	overflow: hidden;*/
}
.video-popup .close-popup {
	display: block;
    font-size: 22px;
    position: absolute;
    right: -10px;
    top: -12px;
    background-color: #333;
    color: #e6c36e;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}
.video-popup .close-popup:hover {
	background-color: #947f4b;
}
.video-popup .video-container {
	width: 100%;
	height: 100%;
	-moz-box-shadow: 0 0 10px #222;
	-webkit-box-shadow: 0 0 10px #222;
	box-shadow: 0 0 10px #222;
}
.owl-cut-nav {
	padding: 0 50px;
	position: relative;
}
.owl-cut-nav .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.owl-cut-nav.owl-carousel .owl-nav button.owl-next, 
.owl-cut-nav.owl-carousel .owl-nav button.owl-prev {
	font-size: 32px;
	color: #d5ccb4;
	height: 62px;
}
.owl-cut-nav.owl-carousel .owl-nav button.owl-next:hover, 
.owl-cut-nav.owl-carousel .owl-nav button.owl-prev:hover {
	color: #9a844a
}
.owl-cut-nav.owl-carousel .owl-nav button.owl-next {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.08) 0,rgba(0,0,0,.0001) 70%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0.08) 0,rgba(0,0,0,.0001) 70%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.08)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,0.08) 0,rgba(0,0,0,.0001) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    position: absolute;
    right: 0;
    padding-left: 10px !important;
}
.owl-cut-nav.owl-carousel .owl-nav button.owl-prev {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.08) 70%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.08) 70%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,0.08)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0.08) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    padding-right: 10px !important;
}
.margin-zero {
	margin: 0;
}
.padding-zero {
	padding: 0;
}
.border-bottom {
	border-bottom: 1px solid #c5c5c5;
}

hr {
	border-color: #c5c5c5;
}
a {
	color: #044e8e;
}
button {
	outline: none;
}
/* common css end */

/* media query css start */
@media screen and (min-width: 1200px){
	.container {
		width: 982px;
	}
	footer .footer-logo {
		width: 254px;
	}
}
@media screen and (min-width: 768px){
	.navbar-header {
		display: none;
	}
	.navbar-collapse {
		padding: 0;
	}
	.border-right {
	    border-right: 1px solid #c5c5c5;
	}
}
@media screen and (max-width: 767px){
	header .top-links {
		text-align: center;
		margin: 20px 0;
	}
	.twitter-timeline {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 480px){
	.exhibition-list>li {
		width: 46.3%;
	}
}
/* media query css end */

